/* Theme Component: Blue CSS
################################### Restaurant Functional Module ###################################
/modules/Themes/themes/<name>/themes.css    ::: themes style sheet
REQ: TailwindCSS, PostCSS, PostCSS-Custom-Properties
accompanies index.tsx
(c)2024 Lance Stubblefield
####################################################################################################
*/
@tailwind base;
@layer base {
    /* ################################ General Styles ################################ */
    body {
        padding: 0;
        margin: 0;
    }

    @layer base {
        h1 {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 600;
            color: #091f34;
        }

        h2 {
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 600;
        }

        h3 {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }

        h4 {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }

        h5 {
            font-style: italic;
            color: #124374;
        }
    }

    button {
        border-radius: 0.375rem;
        padding: 0.25rem;
    }
}

.logo {
    background-image: url("./logo.png");
}

:root {
    /* ------------------------------ BORDER COLORS ------------------------------ */

    .border-bright-color {
        border-color: #0381f4;
    }

    .border-light-color {
        border-color: #dbedff;
    }

    .border-soft-color {
        border-color: #8bc0f1;
    }

    .border-medium-color {
        border-color: #7c9bb8;
    }

    .border-dark-color {
        border-color: #124374;
    }

    .border-very-dark-color {
        border-color: #091f34;
    }

    .border-light-shade {
        border-color: #dddfe1;
    }

    .border-medium-shade {
        border-color: #aeb4b9;
    }

    .border-dark-shade {
        border-color: #596066;
    }

    .border-very-dark-shade {
        border-color: #272a2d;
    }

    .border-ok-color {
        border-color: #25e507;
    }

    .border-alert-color {
        border-color: #ef9e39;
    }

    .border-highlight-color {
        border-color: #ed42c7;
    }

    /* ------------------------------ BACKGROUND COLORS ------------------------------ */

    .background-bright-color {
        background-color: #0381f4;
    }

    .background-light-color {
        background-color: #dbedff;
    }

    .background-soft-color {
        background-color: #8bc0f1;
    }

    .background-medium-color {
        background-color: #7c9bb8;
    }

    .background-dark-color {
        background-color: #124374;
    }

    .background-very-dark-color {
        background-color: #091f34;
    }

    .background-light-shade {
        background-color: #dddfe1;
    }

    .background-medium-shade {
        background-color: #aeb4b9;
    }

    .background-dark-shade {
        background-color: #596066;
    }

    .background-very-dark-shade {
        background-color: #272a2d;
    }

    .background-ok-color {
        background-color: #25e507;
    }

    .background-alert-color {
        background-color: #ef9e39;
    }

    .background-highlight-color {
        background-color: #ed42c7;
    }


    /* ------------------------------ FONT COLORS ------------------------------ */

    .text-bright-color {
        color: #0381f4;
    }

    .text-light-color {
        color: #dbedff;
    }

    .text-soft-color {
        color: #8bc0f1;
    }

    .text-medium-color {
        color: #7c9bb8;
    }

    .text-dark-color {
        color: #124374;
    }

    .text-very-dark-color {
        color: #091f34;
    }

    .text-light-shade {
        color: #dddfe1;
    }

    .text-medium-shade {
        color: #aeb4b9;
    }

    .text-dark-shade {
        color: #596066;
    }

    .text-very-dark-shade {
        color: #272a2d;
    }

    .text-ok-color {
        color: #25e507;
    }

    .text-alert-color {
        color: #ef9e39;
    }

    .text-highlight-color {
        color: #ed42c7;
    }

}


