/* Theme Component: Dark Blue CSS
################################### Restaurant Functional Module ###################################
/modules/Themes/themes/<name>/themes.css    ::: themes style sheet
REQ: TailwindCSS, PostCSS, PostCSS-Custom-Properties
accompanies index.tsx
(c)2024 Lance Stubblefield
####################################################################################################
*/

@tailwind base;
@layer base {

    /* ################################ General Styles ################################ */
    body {
        padding: 0;
        margin: 0;
    }

    @layer base {
        h1 {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 600;
            color: #89c2fa;
        }

        h2 {
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 600;
        }

        h3 {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }

        h4 {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }

        h5 {
            font-style: italic;
            color: #2578cb;
        }
    }

    button {
        border-radius: 0.375rem;
        padding: 0.25rem;
    }
}

.logo {
    background-image: url("./logo.png");
}
:root {
    /* ######################## Theme:Dark Blue Styles ######################## */

    /* ######################## General Theme Styles ######################## */

    .border-bright-color {
        border-color: #011629;
    }

    .border-light-color {
        border-color: #202325;
    }

    .border-soft-color {
        border-color: #3b5165;
    }

    .border-medium-color {
        border-color: #60778c;
    }

    .border-dark-color {
        border-color: #2578cb;
    }

    .border-very-dark-color {
        border-color: #89c2fa;
    }

    .border-light-shade {
        border-color: #505151;
    }

    .border-medium-shade {
        border-color: #787c80;
    }

    .border-dark-shade {
        border-color: #a7b4bf;
    }

    .border-very-dark-shade {
        border-color: #cbd9e6;
    }

    .border-ok-color {
        border-color: #0e5103;
    }

    .border-alert-color {
        border-color: #6a4517;
    }

    .border-highlight-color {
        border-color: #701f5e;
    }

    /* ------------------------------ BACKGROUND COLORS ------------------------------ */

    .background-bright-color {
        background-color: #011629;
    }

    .background-light-color {
        background-color: #202325;
    }

    .background-soft-color {
        background-color: #3b5165;
    }

    .background-medium-color {
        background-color: #60778c;
    }

    .background-dark-color {
        background-color: #2578cb;
    }

    .background-very-dark-color {
        background-color: #89c2fa;
    }

    .background-light-shade {
        background-color: #505151;
    }

    .background-medium-shade {
        background-color: #787c80;
    }

    .background-dark-shade {
        background-color: #a7b4bf;
    }

    .background-very-dark-shade {
        background-color: #cbd9e6;
    }

    .background-ok-color {
        background-color: #0e5103;
    }

    .background-alert-color {
        background-color: #6a4517;
    }

    .background-highlight-color {
        background-color: #701f5e;
    }


    /* ------------------------------ FONT COLORS ------------------------------ */

    .text-bright-color {
        color: #011629;
    }

    .text-light-color {
        color: #202325;
    }

    .text-soft-color {
        color: #3b5165;
    }

    .text-medium-color {
        color: #60778c;
    }

    .text-dark-color {
        color: #2578cb;
    }

    .text-very-dark-color {
        color: #89c2fa;
    }

    .text-light-shade {
        color: #505151;
    }

    .text-medium-shade {
        color: #787c80;
    }

    .text-dark-shade {
        color: #a7b4bf;
    }

    .text-very-dark-shade {
        color: #cbd9e6;
    }

    .text-ok-color {
        color: #0e5103;
    }

    .text-alert-color {
        color: #6a4517;
    }

    .text-highlight-color {
        color: #701f5e;
    }

}
