/* Theme Component: Dark Blue CSS
################################### Restaurant Functional Module ###################################
/modules/Themes/themes/<name>/themes.css    ::: themes style sheet
REQ: TailwindCSS, PostCSS, PostCSS-Custom-Properties
accompanies index.tsx
(c)2024 Lance Stubblefield
####################################################################################################
*/

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {

    /* ################################ General Styles ################################ */
    body {
        @apply p-0 m-0;
    }

    @layer base {
        h1 {
            @apply text-2xl font-semibold;
            color: var(--DarkBlue-very-dark-color)
        }

        h2 {
            @apply text-xl font-semibold;
        }

        h3 {
            @apply text-xl;
        }

        h4 {
            @apply text-lg;
        }

        h5 {
            @apply italic;
            color: var(--DarkBlue-dark-color);
        }
    }

    button {
        @apply rounded-md p-1;
    }

}

:root {
    /* ######################## Theme:Dark Blue Styles ######################## */
    --DarkBlue-light-color: #202325;
    --DarkBlue-soft-color: #3b5165;
    --DarkBlue-medium-color: #60778c;
    --DarkBlue-dark-color: #2578cb;
    --DarkBlue-very-dark-color: #60affc;
    --DarkBlue-bright-color: #011629;

    --DarkBlue-ok-color: #0e5103;
    --DarkBlue-highlight-color: #701f5e;
    --DarkBlue-alert-color: #6a4517;


    /* ######################## General Theme Styles ######################## */

    --DarkBlue-light-shade: #505151;
    --DarkBlue-medium-shade: #787c80;
    --DarkBlue-dark-shade: #a7b4bf;
    --DarkBlue-very-dark-shade: #cbd9e6;

    /* ------------------------------ BORDER COLORS ------------------------------ */

    .border-bright-color {
        border-color: var(--DarkBlue-bright-color)
    }

    .border-light-color {
        border-color: var(--DarkBlue-light-color);
    }

    .border-soft-color {
        border-color: var(--DarkBlue-soft-color);
    }

    .border-medium-color {
        border-color: var(--DarkBlue-medium-color);
    }

    .border-dark-color {
        border-color: var(--DarkBlue-dark-color);
    }

    .border-very-dark-color {
        border-color: var(--DarkBlue-very-dark-color);
    }

    .border-light-shade {
        border-color: var(--DarkBlue-light-shade);
    }

    .border-medium-shade {
        border-color: var(--DarkBlue-medium-shade);
    }

    .border-dark-shade {
        border-color: var(--DarkBlue-dark-shade);
    }

    .border-very-dark-shade {
        border-color: var(--DarkBlue-very-dark-shade);
    }

    .border-ok-color {
        border-color: var(--DarkBlue-ok-color);
    }

    .border-alert-color {
        border-color: var(--DarkBlue-alert-color);
    }

    .border-highlight-color {
        border-color: var(--DarkBlue-highlight-color);
    }

    /* ------------------------------ BACKGROUND COLORS ------------------------------ */

    .background-bright-color {
        background-color: var(--DarkBlue-bright-color)
    }

    .background-light-color {
        background-color: var(--DarkBlue-light-color);
    }

    .background-soft-color {
        background-color: var(--DarkBlue-soft-color);
    }

    .background-medium-color {
        background-color: var(--DarkBlue-medium-color);
    }

    .background-dark-color {
        background-color: var(--DarkBlue-dark-color);
    }

    .background-very-dark-color {
        background-color: var(--DarkBlue-very-dark-color);
    }

    .background-light-shade {
        background-color: var(--DarkBlue-light-shade);
    }

    .background-medium-shade {
        background-color: var(--DarkBlue-medium-shade);
    }

    .background-dark-shade {
        background-color: var(--DarkBlue-dark-shade);
    }

    .background-very-dark-shade {
        background-color: var(--DarkBlue-very-dark-shade);
    }

    .background-ok-color {
        background-color: var(--DarkBlue-ok-color);
    }

    .background-alert-color {
        background-color: var(--DarkBlue-alert-color);
    }

    .background-highlight-color {
        background-color: var(--DarkBlue-highlight-color);
    }


    /* ------------------------------ FONT COLORS ------------------------------ */

    .text-bright-color {
        color: var(--DarkBlue-bright-color)
    }

    .text-light-color {
        color: var(--DarkBlue-light-color);
    }

    .text-soft-color {
        color: var(--DarkBlue-soft-color);
    }

    .text-medium-color {
        color: var(--DarkBlue-medium-color);
    }

    .text-dark-color {
        color: var(--DarkBlue-dark-color);
    }

    .text-very-dark-color {
        color: var(--DarkBlue-very-dark-color);
    }

    .text-light-shade {
        color: var(--DarkBlue-light-shade);
    }

    .text-medium-shade {
        color: var(--DarkBlue-medium-shade);
    }

    .text-dark-shade {
        color: var(--DarkBlue-dark-shade);
    }

    .text-very-dark-shade {
        color: var(--DarkBlue-very-dark-shade);
    }

    .text-ok-color {
        color: var(--DarkBlue-ok-color);
    }

    .text-alert-color {
        color: var(--DarkBlue-alert-color);
    }

    .text-highlight-color {
        color: var(--DarkBlue-highlight-color);
    }

}
