/* Theme Component: Rust CSS
################################### Restaurant Functional Module ###################################
/modules/Themes/themes/<name>/themes.css    ::: themes style sheet
REQ: TailwindCSS, PostCSS, PostCSS-Custom-Properties
accompanies index.tsx
(c)2024 Lance Stubblefield
####################################################################################################
*/

:root {

    /* ######################## Theme:Rust Styles ######################## */
    --Rust-light-color: #fff2db;
    --Rust-soft-color: #f1be8b;
    --Rust-medium-color: #b8937c;
    --Rust-dark-color: #743812;
    --Rust-very-dark-color: #341909;
    --Rust-bright-color: #ff8d46;

    --Rust-ok-color: #25e507;
    --Rust-highlight-color: #fde907;
    --Rust-alert-color: #fa295a;


    /* ######################## General Theme Styles ######################## */

    --Rust-light-shade: #dddfe1;
    --Rust-medium-shade: #aeb4b9;
    --Rust-dark-shade: #596066;
    --Rust-very-dark-shade: #272a2d;


    /* ------------------------------ BORDER COLORS ------------------------------ */
    .border-light-color {
        border-color: var(--Rust-light-color);
    }
    .border-soft-color {
        border-color: var(--Rust-soft-color);
    }
    .border-medium-color {
        border-color: var(--Rust-medium-color);
    }
    .border-dark-color {
        border-color: var(--Rust-dark-color);
    }
    .border-very-dark-color {
        border-color: var(--Rust-very-dark-color);
    }
    .border-light-shade {
        border-color: var(--Rust-light-shade);
    }
    .border-medium-shade {
        border-color: var(--Rust-medium-shade);
    }
    .border-dark-shade {
        border-color: var(--Rust-dark-shade);
    }
    .border-very-dark-shade {
        border-color: var(--Rust-very-dark-shade);
    }

    /* ------------------------------ BACKGROUND COLORS ------------------------------ */
    .background-light-color {
        background-color: var(--Rust-light-color);
    }
    .background-soft-color {
        background-color: var(--Rust-soft-color);
    }
    .background-medium-color {
        background-color: var(--Rust-medium-color);
    }
    .background-dark-color {
        background-color: var(--Rust-dark-color);
    }
    .background-very-dark-color {
        background-color: var(--Rust-very-dark-color);
    }
    .background-light-shade {
        background-color: var(--Rust-light-shade);
    }
    .background-medium-shade {
        background-color: var(--Rust-medium-shade);
    }
    .background-dark-shade {
        background-color: var(--Rust-dark-shade);
    }
    .background-very-dark-shade {
        background-color: var(--Rust-very-dark-shade);
    }


    /* ------------------------------ FONT COLORS ------------------------------ */
    .text-light-color {
        color: var(--Rust-light-color);
    }
    .text-soft-color {
        color: var(--Rust-soft-color);
    }
    .text-medium-color {
        color: var(--Rust-medium-color);
    }
    .text-dark-color {
        color: var(--Rust-dark-color);
    }
    .text-very-dark-color {
        color: var(--Rust-very-dark-color);
    }
    .text-light-shade {
        color: var(--Rust-light-shade);
    }
    .text-medium-shade {
        color: var(--Rust-medium-shade);
    }
    .text-dark-shade {
        color: var(--Rust-dark-shade);
    }
    .text-very-dark-shade {
        color: var(--Rust-very-dark-shade);
    }



}


/* ################################ General Styles ################################ */
body {
    @apply p-0 m-0;
}

@layer base {
    h1 {
        @apply text-2xl font-semibold;
        color: var(--Rust-very-dark-color)
    }

    h2 {
        @apply text-xl font-semibold;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }
    h5 {
        @apply italic;
        color: var(--Rust-dark-color);
    }
}

button {
    @apply rounded-md p-1;
}