/* Cart.css
################################### Restaurant Functional Module ###################################
Module: Cart
/module/Cart/containers/Cart/Cart.css    ::: Cart card style sheet
REQ: TailwindCSS, PostCSS, PostCSS-Custom-Properties
(c)2024 Lance Stubblefield
####################################################################################################
*/

.cartRow {
    @apply flex flex-row h-fit px-2;
    @apply border-b-2;
    border-color: var(--medium-shade);

    .cartDelete {
        @apply h-fit my-1 ml-0 mr-4;

        button {
            @apply relative w-fit p-1 text-center font-bold text-sm rounded-none;
            @apply border-2 border-red-500 text-red-500 bg-red-200;
        }

        button:hover {
            @apply border-red-200 text-red-100 bg-red-600;
            @apply shadow-xl shadow-red-700;
            transform: scale(1.2);
        }
    }

    .cartTitle {
        @apply font-bold ;
        width: var(--Column1);
    }

    .cartCategory {
        width: var(--Column2);
        @apply text-center italic text-gray-500 text-sm;
    }

    .cartPrice {
        @apply text-right font-light;
        width: var(--Column3);
    }


    .column4 {
        width: var(--Column4);
    }

    .cartQtyCol {
        width: var(--Column5);
        @apply flex h-11 ml-2 content-around;

        .cartQty {
            @apply w-1/3 text-center font-semibold ;
        }

        button {
            @apply w-1/3 h-4/5 mx-2 my-1 text-center font-bold border-2;
            font-family: Arial, Helvetica, sans-serif;
            background-color: var(--light-shade);
            border-color: var(--dark-shade);
            color: var(--dark-shade);
        }

        .cartInc:hover {
            @apply bg-green-100 border-green-500 text-green-700;
            @apply shadow-xl shadow-green-700;
            transform: scale(1.1);
        }

        .cartDec:hover {
            @apply bg-red-100 border-red-500 text-red-700;
            @apply shadow-xl shadow-red-700;
            transform: scale(1.1);
        }
    }

    .cartLineTotal {
        @apply text-right font-semibold;
        width: var(--Column6);
    }

}




