/* Theme Component: Green CSS
################################### Restaurant Functional Module ###################################
/modules/Themes/themes/<name>/themes.css    ::: themes style sheet
REQ: TailwindCSS, PostCSS, PostCSS-Custom-Properties
accompanies index.tsx
(c)2024 Lance Stubblefield
####################################################################################################
*/

@tailwind base;
@layer base {

    /* ################################ General Styles ################################ */
    body {
        padding: 0;
        margin: 0;
    }

    @layer base {
        h1 {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 600;
            color: #0a3409;
        }

        h2 {
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 600;
        }

        h3 {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }

        h4 {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }

        h5 {
            font-style: italic;
            color: #2b7412;
        }
    }

    button {
        border-radius: 0.375rem;
        padding: 0.25rem;
    }
}

.logo {
    background-image: url("./logo.png");
}
:root {
    /* ######################## Theme:Green Styles ######################## */

    .border-bright-color {
        border-color: #25e507;
    }

    .border-light-color {
        border-color: #ddffdb;
    }

    .border-soft-color {
        border-color: #b0f18b;
    }

    .border-medium-color {
        border-color: #87b87c;
    }

    .border-dark-color {
        border-color: #2b7412;
    }

    .border-very-dark-color {
        border-color: #0a3409;
    }

    .border-light-shade {
        border-color: #dddfe1;
    }

    .border-medium-shade {
        border-color: #aeb4b9;
    }

    .border-dark-shade {
        border-color: #596066;
    }

    .border-very-dark-shade {
        border-color: #272a2d;
    }

    .border-ok-color {
        border-color: #25e507;
    }

    .border-alert-color {
        border-color: #fa295a;
    }

    .border-highlight-color {
        border-color: #fde907;
    }

    /* ------------------------------ BACKGROUND COLORS ------------------------------ */

    .background-bright-color {
        background-color: #25e507;
    }

    .background-light-color {
        background-color: #ddffdb;
    }

    .background-soft-color {
        background-color: #b0f18b;
    }

    .background-medium-color {
        background-color: #87b87c;
    }

    .background-dark-color {
        background-color: #2b7412;
    }

    .background-very-dark-color {
        background-color: #0a3409;
    }

    .background-light-shade {
        background-color: #dddfe1;
    }

    .background-medium-shade {
        background-color: #aeb4b9;
    }

    .background-dark-shade {
        background-color: #596066;
    }

    .background-very-dark-shade {
        background-color: #272a2d;
    }

    .background-ok-color {
        background-color: #25e507;
    }

    .background-alert-color {
        background-color: #fa295a;
    }

    .background-highlight-color {
        background-color: #fde907;
    }


    /* ------------------------------ FONT COLORS ------------------------------ */

    .text-bright-color {
        color: #25e507;
    }

    .text-light-color {
        color: #ddffdb;
    }

    .text-soft-color {
        color: #b0f18b;
    }

    .text-medium-color {
        color: #87b87c;
    }

    .text-dark-color {
        color: #2b7412;
    }

    .text-very-dark-color {
        color: #0a3409;
    }

    .text-light-shade {
        color: #dddfe1;
    }

    .text-medium-shade {
        color: #aeb4b9;
    }

    .text-dark-shade {
        color: #596066;
    }

    .text-very-dark-shade {
        color: #272a2d;
    }

    .text-ok-color {
        color: #25e507;
    }

    .text-alert-color {
        color: #fa295a;
    }

    .text-highlight-color {
        color: #fde907;
    }

}
