/* menuPages.css
################################### Restaurant Functional Module ###################################
Module: Menu
/modules/Menu/pages/menuPages.css    ::: menu module style sheet
REQ: TailwindCSS, PostCSS, PostCSS-Custom-Properties
(c)2024 Lance Stubblefield
####################################################################################################
*/


/* ################################ MENU ################################ */


/* *********** MENU (food) *********** */
.menuHeader {
    @apply w-11/12 h-fit mx-auto pt-4;
    p {
        font-size: .75em;
    }
    h1 {
        @apply my-3;
    }
}

.menuContainer {
    @apply w-11/12 mx-auto;
}

/* *********** Product Details *********** */
.productPage {
    @apply w-11/12 mx-auto mt-5 pb-16 pt-8;
    @apply border-2;
    max-width: 800px;

    .productPic {
        @apply w-10/12 mx-auto p-4;

        img {
            @apply w-11/12 mx-auto mb-4 rounded-md;
            @apply border-2 shadow-2xl;

        }

        .productTitle {
            @apply w-full text-center mx-auto mb-2 mt-6;
        }
    }

    .productSection {
        @apply w-8/12 mx-auto text-lg;

        .productCatRow {
            @apply flex justify-between my-4;

            .productPrice {
                @apply font-bold text-2xl;
            }

            .productType {
                @apply underline text-lg text-center;
            }

            .productCat {
                @apply italic text-lg;
            }
        }

        .productButton {
            @apply mx-auto text-center ;

            button {
                @apply p-2 border-2 rounded-xl;
                @apply border-green-400 text-green-400 bg-green-900;
            }

            button:hover {
                @apply border-green-200 bg-green-700 text-green-200 font-bold;
                transform: scale(1.1)
            }
        }

        .productInCart {
            @apply mx-auto text-center ;
            @apply text-red-800 bg-yellow-300 border-red-500 border-2;
        }

    }

}


/* ########################### Media Selector ########################### */
/* ------------ Mobile View ------------ */
@media (max-width: 539px) {
    .catalog-container {
        @apply w-full grid gap-y-2 grid-cols-1 px-2 pt-2;
    }

    .productSection p {
        @apply leading-tight text-sm w-full;
    }

    .productPrice {
        @apply w-full text-center;
    }

    .productType, .productCat {
        display: none;
    }

    .productButton {
        @apply w-7/12 my-2 text-sm;
    }

    .productInCart {
        @apply w-9/12 h-8 font-normal text-lg border-none align-middle ;
    }
}

/* ------------ End Mobile ------------ */

/* ------------ Tablet View ------------ */
@media (min-width: 540px) and (max-width: 991px) {
    .catalog-container {
        @apply w-full grid gap-x-4 gap-y-4 grid-cols-2 px-3 pt-3;
    }


    .productAction {
        @apply flex flex-row justify-between my-4 h-10 ;
    }

    .productButton {
        @apply w-5/12 text-lg font-semibold ;
    }

    .productInCart {
        @apply w-4/12 font-semibold text-xl ;
    }
}

/* ------------ End Tablet ------------ */

/* ------------ Desktop View ------------ */
@media (min-width: 992px) {
    .catalog-container {
        @apply w-full grid gap-x-6 gap-y-8 grid-cols-3 px-3 pt-4;
    }

    .productAction {
        @apply flex flex-row justify-between my-8 h-12 ;
        @apply font-bold text-xl;
    }

    .productButton {
        @apply w-4/12;

    }

    .productInCart {
        @apply w-5/12;
    }
}

/* ------------ End Desktop ------------ */

/* ##########------------ End Media ------------########## */
