/* hamburger.css
################################### Restaurant Functional Module ###################################
/src/components/Header/hamburger.css    ::: hamburger style sheet for Hamburger.tsx
REQ: TailwindCSS, PostCSS, PostCSS-Custom-Properties
support for hamburger.tsx
(c)2024 Lance Stubblefield
####################################################################################################
*/

.hamburger {
    @apply -mt-14;

    #hamburgerIcon {
        @apply h-16 w-16 rounded-lg;
        @apply p-1 ml-2 mb-2 border-2;
        @apply shadow-lg shadow-gray-300;
        border-color: var(--medium-color);
        background-color: var(--soft-color);

        .iconBar {
            @apply w-full h-1/4 my-1 border-2;

            background-color: var(--dark-color);
        }
    }

    #hamburgerNavbar {
        background-color: var(--soft-color);

        .hamburgerItem, .dropDown {
            @apply block;

            button {
                @apply w-full h-10 rounded-none;
                @apply border-b-2;
            }
            .cartButton {
                @apply bg-green-300 text-green-900 border-green-700;
            }
            .dropDown {
                @apply block shadow-none;

                .navbarSubItem {
                    @apply block font-medium h-8;
                    background-color: var(--light-color);
                    border-color: var(--soft-color);
                    color: var(--medium-color);
                }
            }
        }
    }
}

.hidden {
    display: none;
}

.enabled {
    @apply block;
    border-color: var(--medium-color);
}

.selected {
    @apply block;
    background-color: var(--highlight-color);
    border-color: var(--medium-color);
}

.disabled {
    @apply block text-sm;
    background-color: var(--medium-shade);
    color: var(--dark-shade);
    border-color: var(--dark-shade);
}

/* ########################### Media Selector ########################### */
/* ------------ Mobile View ------------ */
@media (max-width: 667px) {
    .hamburger {
        display: block;
    }
}

/* ------------ End Mobile ------------ */

/* ------------ Tablet View ------------ */
@media (min-width: 668px) and (max-width: 991px) {
    .hamburger {
        display: none;
    }
}

/* ------------ End Tablet ------------ */

/* ------------ Desktop View ------------ */
@media (min-width: 992px) {
    .hamburger {
        display: none;
    }

}

/* ------------ End Desktop ------------ */

/* ##########------------ End Media ------------########## */