/* header.css
################################### Restaurant Functional Module ###################################
/src/layout/Header/header.css    ::: Main header style sheet
REQ: TailwindCSS, PostCSS, PostCSS-Custom-Properties
(c)2024 Lance Stubblefield
####################################################################################################
*/

/* ################################ Header ################################ */
.header {
    @apply mt-2 mx-4 h-full px-2 align-text-bottom;
    @apply border-b-4;
    background-color: var(--light-color);
    border-color: var(--bright-color);

    .titleRow {
        @apply flex w-full h-24 px-2 pt-2;

        .headerLeft {
            @apply w-1/3 h-full text-left;
        }

        .headerCenter {
            @apply w-1/3 h-full;
        }

        .headerRight {
            @apply w-1/3 h-full text-right content-center mr-4;
            .cartCorner {
                @apply float-right w-32;
                @apply cursor-pointer;

                .cartCount {
                    @apply mx-2 px-2 text-green-500 font-bold text-xl;
                }

                img {
                    @apply float-right w-10;
                }
            }
        }
    }



}

/* --------------- END -- Header -- END --------------- */


/* ########################### Media Selector ########################### */
/* ------------ Mobile View ------------ */
@media (max-width: 667px) {

}

/* ------------ End Mobile ------------ */

/* ------------ Tablet View ------------ */
@media (min-width: 668px) and (max-width: 991px) {

}

/* ------------ End Tablet ------------ */

/* ------------ Desktop View ------------ */
@media (min-width: 992px) {


}

/* ------------ End Desktop ------------ */

/* ##########------------ End Media ------------########## */