/* navbar.css
################################### Restaurant Functional Module ###################################
/src/components/Header/navbar.css    ::: navbar style sheet for Navbar.css
REQ: TailwindCSS, PostCSS, PostCSS-Custom-Properties
(c)2024 Lance Stubblefield
####################################################################################################
*/

.navRow {
    @apply flex  w-full h-12 pt-2;

    .navbarFiller {
        @apply h-full w-3/12;
    }

    .navbar {
        @apply flex w-9/12 h-fit bottom-0;

        .navbarItem {
            @apply w-3/12 h-8 mx-2;

            button {
                @apply w-full h-full font-medium ;
            }

            .enabled {
                color: var(--dark-color);
                @apply shadow-sm shadow-gray-800;
            }

            .enabled:hover, .selected, .selected:hover {
                color: var(--light-color);
                background-color: var(--bright-color);
                border-color: var(--dark-color);
                @apply border-b-2;
            }

            .selected, .selected:hover {
                @apply border-2 shadow-inner shadow-gray-700;
            }

            .disabled {
                @apply cursor-not-allowed;
                color: var(--medium-color);
            }

            .cartButton {
                @apply text-center px-2 ;
                @apply border-green-600 border-2 bg-green-50 text-green-500;
            }

            .cartButton:hover {
                @apply bg-green-400 text-green-50 border-green-100 ;
            }
        }

        .dropDown {
            @apply cursor-pointer border-2 h-fit;
            border-color: var(--medium-shade);

            .navbarSubItem {
                @apply h-8 border-b-2 text-sm relative;
                @apply shadow-xl shadow-gray-500;
                border-color: var(--medium-shade);
                background-color: var(--light-shade);
                -webkit-animation: slide 3s infinite ease-in-out;
                -webkit-animation-delay: 2s;
                animation: slide 2s forwards;
                animation-delay: 4s;
                z-index: 99;

                .enabled {
                    color: var(--dark-color);
                }

                .enabled:hover {
                    color: var(--light-color);
                    background-color: var(--dark-color);
                }

                .disabled, .disabled:hover {
                    color: var(--medium-shade);
                    border-color: var(--medium-shade);
                }
            }


        }

        #dropdown:hover {
            @apply block;
        }
    }

}

/* ########################### Media Selector ########################### */
/* ------------ Mobile View ------------ */
@media (max-width: 667px) {

}

/* ------------ End Mobile ------------ */

/* ------------ Tablet View ------------ */
@media (min-width: 668px) and (max-width: 991px) {

}

/* ------------ End Tablet ------------ */

/* ------------ Desktop View ------------ */
@media (min-width: 992px) {


}

/* ------------ End Desktop ------------ */

/* ##########------------ End Media ------------########## */