/* navbar.css
################################### Restaurant Functional Module ###################################
/src/components/Header/navbar.css    ::: navbar style sheet for Navbar.css
REQ: TailwindCSS, PostCSS, PostCSS-Custom-Properties
(c)2024 Lance Stubblefield
####################################################################################################
*/

/*navRow
    navbar
        navbarItem
            button/selected/enabled
        dropdown
            button/enabled/disabled
            dropdownSpace
            navbarSubItem
        navbarItem
            cartButton/selected
 */

/* -------------------------- Main Menu Bar -------------------------- */
.navRow {
    @apply block w-full h-12 pt-2 pr-2;

    .navbar {
        @apply content-end text-right float-right h-fit bottom-0;

        .navbarItem {
            @apply w-3/12 h-8 ;

            button {
                @apply w-full h-full;
            }

            .enabled {
                color: var(--dark-color);
                @apply shadow-sm shadow-gray-800;
            }

            .enabled:hover, .selected, .selected:hover {
                color: var(--light-color);
                background-color: var(--bright-color);
                border-color: var(--dark-color);
                @apply border-b-2;
            }

            .selected, .selected:hover {
                @apply border-2 shadow-inner shadow-gray-700;
                @apply text-sm;
            }

            .disabled {
                @apply cursor-not-allowed;
                color: var(--medium-color);
            }

            .cartButton {
                @apply text-center ;
                @apply border-green-600 border-2 bg-green-50 text-green-500;
            }

            .cartButton:hover {
                @apply bg-green-400 text-green-50 border-green-100 ;
            }
        }
    }
}

.dropDown {
    display: none;
    @apply cursor-pointer shadow-none text-center;
    @apply shadow-lg shadow-gray-800;
    background-color: var(--light-color);
    border-color: var(--dark-shade);
    z-index: 99;

    .navbarSubItem {
        @apply h-7 border-b-2 text-sm font-medium leading-tight relative;
        border-color: var(--medium-shade);
        background-color: var(--light-shade);
        z-index: 98;

        div {
            @apply mt-2 align-middle;
        }

        .enabled {
            @apply leading-tight;
            color: var(--dark-color);
        }

        .enabled:hover {
            color: var(--light-color);
            background-color: var(--dark-color);
        }

        .disabled, .disabled:hover {
            color: var(--medium-shade);
            border-color: var(--medium-shade);
        }
    }

    .dropdownSpace {
        @apply border-4 relative;
        border-color: var(--dark-color);
    }
}

#menu:hover .dropDown {
    color: var(--dark-color);
    display: block;
}

/* ########################### Media Selector ########################### */
/* ------------ Mobile View ------------ */
@media (max-width: 667px) {
    .navbar {
        display: none;
    }
}

/* ------------ End Mobile ------------ */

/* ------------ Tablet View ------------ */
@media (min-width: 668px) and (max-width: 991px) {
    .navbar {
        @apply w-10/12;
        display: flex;

        .navbarItem {
            @apply mx-0;
        }
    }

    .enabled, .enabled:hover, .selected, .selected:hover, .cartButton, .cartButton:hover {
        @apply text-sm rounded-none;
    }
}

/* ------------ End Tablet ------------ */

/* ------------ Desktop View ------------ */
@media (min-width: 992px) {
    .navbar {
        @apply w-8/12;
        display: flex;

        .navbarItem {
            @apply mx-1 px-0;
        }
    }

    .enabled, .enabled:hover, .cartButton, .cartButton:hover {
        @apply text-lg;
    }

}

/* ------------ End Desktop ------------ */

/* ##########------------ End Media ------------########## */