/* menuPages.css
################################### Restaurant Functional Module ###################################
Module: Menu
/modules/Menu/pages/menuPages.css    ::: menu module style sheet
REQ: TailwindCSS, PostCSS, PostCSS-Custom-Properties
(c)2024 Lance Stubblefield
####################################################################################################
*/


/* ################################ MENU ################################ */
.catalog-container {
    @apply w-full grid gap-x-6 gap-y-8 grid-cols-3 px-3 pt-4;
}

.products-container {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


/* *********** MENU (food) *********** */
.menuHeader {
    @apply w-11/12 h-36 mx-auto pt-4;
    color: var(--dark-shade);

    h1 {
        @apply my-3;
    }
}

.menuContainer {
    @apply w-11/12 mx-auto;
}

/* *********** Product Details *********** */
.productPage {
    @apply w-11/12 mx-auto mt-5 pb-16 pt-8;
    @apply border-2 shadow-2xl;
    max-width: 1200px;
    border-color: var(--medium-shade);

    .productPic {
        @apply w-10/12 mx-auto p-4;

        img {
            @apply w-11/12 mx-auto mb-4 rounded-md;
            @apply border-2 shadow-2xl;
            border-color: var(--dark-shade);
        }

        .productTitle {
            @apply w-9/12 mx-auto mb-2 mt-6;
            color: var(--dark-shade);
        }
    }

    .productSection {
        @apply w-8/12 mx-auto text-lg;

        color: var(--dark-shade);

        .productCatRow {
            @apply flex justify-between my-4;

            .productPrice {
                @apply font-bold text-2xl;
            }
            .productType {
                @apply underline text-lg text-center;
                color: var(--medium-shade);
            }
            .productCat {
                @apply italic text-lg;
                color: var(--medium-shade);
            }
        }

        .productButton {
            @apply w-4/12 mx-auto text-center my-8;

            button {
                @apply p-2 font-bold border-2 rounded-xl;
                @apply border-green-400 text-green-400 bg-green-900;
            }

            button:hover {
                @apply border-green-200 bg-green-700 text-green-200 font-bold;
                transform: scale(1.1)
            }
        }

        .productInCart {
            @apply w-7/12 h-12 mx-auto content-center font-bold text-2xl text-center ;
            @apply text-red-800 bg-yellow-300 border-red-500 border-2;
        }

    }

}
