/* hamburger.css
################################### Restaurant Functional Module ###################################
/src/components/Header/hamburger.css    ::: hamburger style sheet for Hamburger.tsx
REQ: TailwindCSS, PostCSS, PostCSS-Custom-Properties
support for hamburger.tsx
(c)2024 Lance Stubblefield
####################################################################################################
*/

.hamburger {
    @apply  -mt-20 w-full;
    .menuRow {
        @apply flex flex-row w-full;
        .filler {
            @apply w-9/12 h-1;
        }

        #hamburgerIcon {
            @apply h-14 w-14 rounded-lg ;
            @apply p-1 ml-2 mb-2 border-2;
            @apply shadow-lg shadow-gray-300;

            .iconBar {
                @apply w-full h-1/4 my-1 border-2;
            }
        }
    }
    #hamburgerNavbar {
        box-shadow: 0 0 0 2000px #000000CC;
        @apply w-full absolute;
        .hamburgerItem, .dropDown {
            @apply block;

            button {
                @apply w-full h-10 rounded-none;
                @apply border-b-2;
            }
            .cartButton {
                @apply bg-green-300 text-green-900 border-green-700;
            }
            .dropDown {
                @apply block shadow-none;

                .navbarSubItem {
                    @apply block font-medium h-8;
                }
            }
        }
    }
}

.hidden {
    display: none;
}

.enabled {
    @apply block;
}

.selected {
    @apply block;
}

.disabled {
    @apply block text-sm;
}

/* ########################### Media Selector ########################### */
/* ------------ Mobile View ------------ */
@media (max-width: 667px) {
    .hamburger {
        @apply inline-block;
    }
}

/* ------------ End Mobile ------------ */

/* ------------ Tablet View ------------ */
@media (min-width: 668px) and (max-width: 991px) {
    .hamburger {
        display: none;
    }
}

/* ------------ End Tablet ------------ */

/* ------------ Desktop View ------------ */
@media (min-width: 992px) {
    .hamburger {
        display: none;
    }

}

/* ------------ End Desktop ------------ */

/* ##########------------ End Media ------------########## */