/* APP.CSS
################################### Restaurant Functional Module ###################################
/src/App.css    ::: App.tsx style sheet
REQ: TailwindCSS, PostCSS, PostCSS-Custom-Properties
(c)2024 Lance Stubblefield
####################################################################################################
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    @apply w-screen;
}

header {
    @apply w-full mx-auto min-h-24;
    z-index: 20;
}

main {
    @apply w-full ;
    z-index: 12;
}

footer {
    @apply w-full h-20 mt-4 p-2 fixed bottom-0 text-center align-middle;
    opacity: 0.9;
    z-index: 10;
}

.App {
    @apply w-full;
    z-index: 10;
}
