/* INDEX.CSS
################################### Restaurant Functional Module ###################################
/src/index.css    ::: Main style sheet
REQ: TailwindCSS, PostCSS, PostCSS-Custom-Properties
(c)2024 Lance Stubblefield
####################################################################################################
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ################################ SYSTEM VARIABLES ################################ */
:root {
    /* ---------- Header Colors ---------- */
    --header-bg-color: #dbedff;
    --header-text-color: #124374;
    --header-border-color: #0381f4;
    --header-button-color: #7c9bb8;
    --header-button-hover-color: #0381f4;
    --header-button-hover-text-color: #dbedff;
    --header-button-selected-color: #8bc0f1;
    --header-button-selected-text-color: #0475e6;
    --header-button-disabled-color: #98b7d2;

    /* ---------- Product Colors ------------ */
    --product-shadow-color: #6a96c2;
    --cart-row-border-color: #dbdbdb;

    /* ---------- Cart-Column Layout ------------ */
    --Column1: 43%; /* Item Name */
    --Column2: 15%; /* Category  */
    --Column3: 13%; /* Price     */
    --Column4: 3%; /* --filler--*/
    --Column5: 13%; /* Quantity  */
    --Column6: 13%; /* Total     */
}


/* --------------- END -- SYSTEM VARIABLES -- END --------------- */

/* ################################ General Styles ################################ */
body {
    margin: 0;
}
@layer base {
    h1 {
        @apply text-2xl font-semibold;
    }
    h2 {
        @apply text-xl font-semibold;
    }
    h3 {
        @apply text-xl;
    }
    h4 {
        @apply text-lg;
    }
}

/* --------------- END -- General Styles -- END --------------- */

/* ################################ Header ################################ */
header {
    background-color: var(--header-bg-color);
    border-color: var(--header-border-color);
    @apply w-full h-full px-4 align-text-bottom text-right;
    @apply border-b-4;

    .titleRow {
        @apply block w-full h-24 px-4 pt-4;

        .cartCorner {
            @apply float-right mt-6 mr-1 w-32;

            .cartCount {
                @apply ml-2 px-2 text-green-500 font-bold text-xl;
            }

            img {
                @apply float-right w-4/12;
            }
        }
    }

    .menuRow {
        @apply flex  w-full h-12 pt-2;

        .menuFiller {
            @apply h-full w-3/12;
        }

        .menu {
            @apply flex w-9/12 h-fit bottom-0;

            .menuItem {
                @apply w-3/12 h-8 mx-2;

                button {
                    @apply w-full h-full font-medium ;
                }

                .enabled {
                    color: var(--header-text-color);
                }

                .enabled:hover {
                    color: var(--header-button-hover-text-color);
                    background-color: var(--header-button-hover-color);
                }

                .selected {
                    color: var(--header-button-selected-text-color);
                    background-color: var(--header-button-selected-color);
                }

                .disabled {
                    @apply cursor-not-allowed;
                    color: var(--header-button-disabled-color);
                }

                .cartButton {
                    @apply text-center px-2 ;
                    @apply border-green-600 border-2 bg-green-50 text-green-500;
                }

                .cartButton:hover {
                    @apply bg-green-400 text-green-50 border-green-100 ;
                }
            }
        }
    }

}

/* --------------- END -- Header -- END --------------- */

/* ################################ Content ################################ */
.catalog-container {
    @apply w-full grid gap-x-6 gap-y-8 grid-cols-3 px-3 pt-4;
}

.products-container {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* *********** CART CONTAINER *********** */
.cartHeader {
    @apply w-11/12 my-4 mx-auto min-h-20 ;
}

.cartTable {
    @apply block w-9/12 mx-auto ;
    h3 {
        @apply text-gray-600 mx-2;
    }
    .cartTableHeader {
        @apply flex w-full text-gray-500 border-b-2 border-gray-500 my-2 px-2;

        .cartTableHeaderItem {
            @apply w-fit font-bold;
        }

        .column1 {
            width: var(--Column1);
        }

        .column2 {
            @apply text-center;
            width: var(--Column2);
        }

        .column3 {
            @apply text-right;
            width: var(--Column3);
        }

        .column4 {
            width: var(--Column4);
        }

        .column5 {
            @apply text-center;
            width: var(--Column5);
        }

        .column6 {
            @apply text-right;
            width: var(--Column5);
        }

    }
}


/* --------------- END -- Content -- END --------------- */

/* ################################ Footer ################################ */

/* --------------- END -- Footer -- END --------------- */

/* ################################ Media-Responsiveness ################################ */

/* --------------- END -- Media-Responsiveness -- END --------------- */