/* THEMES.CSS
################################### Restaurant Functional Module ###################################
/src/themes.css    ::: themes style sheet
REQ: TailwindCSS, PostCSS, PostCSS-Custom-Properties
accompanies index.css
(c)2024 Lance Stubblefield
####################################################################################################
*/

:root {
    /* ######################## Theme1:Blue Styles ######################## */
    /*--light-color: #dbedff;*/
    /*--soft-color: #8bc0f1;*/
    /*--medium-color: #7c9bb8;*/
    /*--dark-color: #124374;*/
    /*--very-dark-color: : #091f34;*/
    /*--bright-color: #0381f4;*/

    /*--ok-color: #25e507;*/
    /*--highlight-color: #ed42c7;*/
    /*--alert-color: #ef9e39;*/


    /* ######################## Theme2:Green Styles ######################## */
    /*--light-color: #ddffdb;*/
    /*--soft-color: #b0f18b;*/
    /*--medium-color: #87b87c;*/
    /*--dark-color: #2b7412;*/
    /*--very-dark-color: #0a3409;*/
    /*--bright-color: #25e507;*/

    /*--ok-color: #25e507;*/
    /*--highlight-color: #fde907;*/
    /*--alert-color: #fa295a;*/


    /* ######################## Theme3:Orange Styles ######################## */
    --light-color: #fff2db;
    --soft-color: #f1be8b;
    --medium-color: #b8937c;
    --dark-color: #743812;
    --very-dark-color: #341909;
    --bright-color: #ff8d46;

    --ok-color: #25e507;
    --highlight-color: #fde907;
    --alert-color: #fa295a;


    /* ######################## Theme4:Purple Styles ######################## */
    /*--light-color: #efdbff;*/
    /*--soft-color: #d48bff;*/
    /*--medium-color: #8c51a8;*/
    /*--dark-color: #460f61;*/
    /*--very-dark-color: #290934;*/
    /*--bright-color: #be34f4;*/

    /*--ok-color: #25e507;*/
    /*--highlight-color: #07fde8;*/
    /*--alert-color: #fa29d7;*/


    /* ######################## General Theme Styles ######################## */

    --light-shade: #dddfe1;
    --medium-shade: #aeb4b9;
    --dark-shade: #596066;
    --very-dark-shade: #272a2d;


    /* ######################## Cart-Column Layout ######################## */
    --Column1: 43%; /* Item Name */
    --Column2: 15%; /* Category  */
    --Column3: 13%; /* Price     */
    --Column4: 3%; /* --filler--*/
    --Column5: 13%; /* Quantity  */
    --Column6: 13%; /* Total     */
}
