/* navlist.css
################################### Restaurant Functional Module ###################################
/src/components/Header/navlist.css    ::: navbar style sheet for Navbar.css
REQ: TailwindCSS, PostCSS, PostCSS-Custom-Properties
(c)2024 Lance Stubblefield
####################################################################################################
*/

/*navRow >>>>STRUCTURE<<<<
    navbar
        navbarItem
            button/selected/enabled
        dropdown
            button/enabled/disabled
            dropdownSpace
            navbarSubItem
        navbarItem
            cartButton/selected
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------- Main Menu Bar -------------------------- */
button {
    @apply w-full h-full text-center ;
}

.navRow {
    @apply block w-full h-12 pt-2 pr-2;

    .navbar {
        @apply content-end text-right float-right h-fit bottom-0 ;

        .navbarItem {
            @apply w-3/12 h-8 rounded-none;



            .enabled {
                @apply shadow-sm shadow-gray-800;
            }

            .enabled:hover{
                @apply text-yellow-800 bg-yellow-400 border-yellow-900;
                @apply border-b-2;
                /*transform: scale(1.1);*/
            }

            .selected, .selected:hover {
                @apply border-2 shadow-inner shadow-gray-700;
                @apply text-sm;
            }

            .disabled {
                @apply cursor-not-allowed;
            }

            .cartButton {
                @apply shadow-sm shadow-gray-500;
                @apply border-green-600 border-2 bg-green-50 text-green-500;
            }

            .cartButton:hover {
                @apply bg-green-600 text-green-50 border-green-100;
                transform: scale(1.1);
            }

        }
    }
}

.dropDown {
    display: none;
    @apply cursor-pointer shadow-none text-center;
    @apply shadow-lg shadow-gray-800;
    z-index: 99;

    .navbarSubItem {
        @apply py-1 h-7 border-b-2 text-sm font-medium leading-tight relative rounded-none;
        z-index: 98;

        div {
            @apply mt-2 align-middle;
        }

        .enabled {
            @apply leading-tight;
        }

        .enabled:hover {
            @apply rounded-none;

        }

        .disabled, .disabled:hover {
            @apply text-gray-400 border-gray-400;
        }
    }

    .navbarSubItem:hover {
        @apply rounded-none;
    }

    .dropdownSpace {
        @apply border-4 relative;
    }
}

.dropDown:hover {
    @apply rounded-none;
}

#menu:hover .dropDown {
    display: block;
}

/* ########################### Media Selector ########################### */
/* ------------ Mobile View ------------ */
@media (max-width: 667px) {
    .navRow {
        display: none;
    }
}

/* ------------ End Mobile ------------ */

/* ------------ Tablet View ------------ */
@media (min-width: 668px) and (max-width: 991px) {
    .navbar {
        @apply w-8/12;
        display: flex;

        .navbarItem {
            @apply mx-1;
        }
    }
    .navbarItem-disabled {
        display: none;
    }
    .enabled, .enabled:hover, .selected, .selected:hover, .cartButton {
        @apply rounded-none;
        font-size: .75rem;
    }
}

/* ------------ End Tablet ------------ */

/* ------------ Desktop View ------------ */
@media (min-width: 992px) {
    .navbar {
        @apply w-8/12;
        display: flex;

        .navbarItem {
            @apply mx-1 px-0;

        }
        .navbarItem-disabled {
            @apply mx-1 px-0 w-3/12 h-8 rounded-none;;
        }
    }
    .disabled {
        @apply rounded-lg  shadow-inner shadow-gray-400;
    }
    .enabled, .selected, .enabled:hover, .cartButton, .cartButton:hover {
        @apply font-semibold rounded-lg;
        font-size: .875rem;
    }

}

/* ------------ End Desktop ------------ */

/* ##########------------ End Media ------------########## */